node_modules/
blog/.vitepress/dist
blog/.vitepress/.temp
blog/.vitepress/cache
blog/.vitepress/secret.ts
*.pdf
backup/
note.txt
*.log
.npmrc

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
